body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f7f7f9;
  font-size: 1.2rem;
}

.backgroundPurple.backgroundPurple.backgroundPurple.backgroundPurple {
	background-color: #54546c;
	box-shadow: 0 0 1em #54546c;
 }

.colorWhite {
  color: white;
}

@keyframes react {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.react {
 animation: react 20000ms linear infinite;
}
